{extend name="public/base" /}

{block name="body"}
<div id="core">
	{include file="public/nav" /}
	<div id="right"><div id="rightc">
		{include file="public/title" /}
		<form action="{:url('ClassesAndStudents/updatePassword')}" id="formUpdinfo" method="post">
			<input type="hidden" name="id" value="{$user_id}">
			<input type="hidden" name="role" value="{$user_role}">
			<div class="row">
				<div class="col-sm-2 iname"> <span class="glyphicon glyphicon-hand-right"></span> {$role_name}名称</div>
				<div class="col-sm-8 form-group"><input type="text" name="name"  class="form-control" disabled value="{$user_info['name']}"></div>
			</div>
			<div class="row">
				<div class="col-sm-2 iname"> <span class="glyphicon glyphicon-hand-right"></span> 新密码</div>
				<div class="col-sm-8 form-group"><input type="password" name="password"  class="form-control" placeholder="请输入新密码"></div>
			</div>
			<div class="row">
				<div class="col-sm-2 iname"> <span class="glyphicon glyphicon-hand-right"></span> 确认新密码</div>
				<div class="col-sm-8 form-group"><input type="password" name="repassword" class="form-control" placeholder="请再次确认输入的新密码"></div>
			</div>
			<div class="row">
				<div class="col-sm-2 iname"></div>
				<div class="col-sm-8 form-group">
					<button type="submit" class="btn btn-block btn-success">提交</button>
				</div>
			</div>
		</form>
	</div>
	</div>
</div>
{/block}


{block name="script"}
<script>
!function($){

    $("#formUpdinfo").validate({
        rules: {
            name: "required",
            account: "required"
        },
        messages: {
            name:  "请输入名称",
            account: "账号不能为空"
        },  
    });

}(jQuery);

</script>
{/block}