{extend name="public/base" /}

{block name="body"}
<div id="core">
	{include file="public/nav" /}
	<div id="right"><div id="rightc">
		{include file="public/title" /}
		<div class="row">
			<div class="col-sm-2 iname">试卷名称:</div>
			<div class="col-sm-2 ivalue">{$item.name}</div>

			<div class="col-sm-2 iname">考试时长:</div>
			<div class="col-sm-4 ivalue">{$item.duration} 分钟</div>
		</div>
		<div class="row">
			<div class="col-sm-2 iname">所属课程:</div>
			<div class="col-sm-2 ivalue">{$item.cname}</div>
			<div class="col-sm-2 iname">任课老师:</div>
			<div class="col-sm-4 ivalue">{$item.tname}</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-sm-2 iname">开始时间:</div>
			<div class="col-sm-2 ivalue">{$item.start_time}</div>
			<div class="col-sm-2 iname">结束时间:</div>
			<div class="col-sm-4 ivalue">{$item.end_time}</div>
		</div>

		<hr>
		
		<?php if(!empty($praxis_box['panduan'])): // 判断题 ?>
		<div class="row">
			<div class="col-sm-2 iname"><h3>判断题</h3></div>
			<div class="col-sm-2 ivalue"></div>
		</div>
		<?php $i=1; foreach($praxis_box['panduan'] as $vo): ?>
			<div class="row">
				<div class="col-xs-2 iname">{$i}、</div>
				<div class="col-xs-10 ivalue">{$vo.content}</div>
				<div class="col-xs-2 iname">&nbsp;</div>
				<div class="col-xs-8 ivalue">
					<div class="list-group">

						<div class="list-group-item <?php if($vo['answer']) echo 'list-group-item-success'; ?>">
							<input type="radio" name="a{$i}" <?php if($vo['answer']) echo 'checked'; ?>> 正确
						</div>
						<div class="list-group-item <?php if(!$vo['answer']) echo 'list-group-item-success'; ?>">
							<input type="radio" name="a{$i}" <?php if(!$vo['answer']) echo 'checked'; ?>> 错误
						</div>


					</div>
				</div>
			</div>
		<?php $i++; endforeach; endif; ?>


		<?php if(!empty($praxis_box['danxuan'])): // 单选题  ?>
		<div class="row">
			<div class="col-sm-2 iname"><h3>单选题</h3></div>
			<div class="col-sm-2 ivalue"></div>
		</div>
		<?php $i=1; foreach($praxis_box['danxuan'] as $vo): ?>
			<div class="row">
				<div class="col-xs-2 iname">{$i}、</div>
				<div class="col-xs-10 ivalue">{$vo.content}</div>
				<div class="col-xs-2 iname">&nbsp;</div>
				<div class="col-xs-8 ivalue">
					<div class="list-group">
						<?php foreach($vo['options'] as $key => $v): ?>
							<div class="list-group-item <?php if($key==$vo['answer']) echo 'list-group-item-success'; ?>">
								<input type="radio" name="b{$i}" <?php if($key==$vo['answer']) echo 'checked'; ?>>
								{$key}.{$v}
							</div>
						<?php endforeach; ?>

					</div>
				</div>
			</div>
		<?php $i++; endforeach; endif; ?>


		<?php if(!empty($praxis_box['duoxuan'])): // 多选题  ?>
		<div class="row">
			<div class="col-sm-2 iname"><h3>多选题</h3></div>
			<div class="col-sm-2 ivalue"></div>
		</div>
		<?php $i=1; foreach($praxis_box['duoxuan'] as $vo): ?>
			<div class="row">
				<div class="col-xs-2 iname">{$i}、</div>
				<div class="col-xs-10 ivalue">{$vo.content}</div>
				<div class="col-xs-2 iname">&nbsp;</div>
				<div class="col-xs-8 ivalue">
					<div class="list-group">
						<?php foreach($vo['options'] as $key => $v): ?>
							<div class="list-group-item <?php if(in_array($key,$vo['answer'])) echo 'list-group-item-success'; ?>">
								<input type="checkbox" name="" <?php if(in_array($key,$vo['answer'])) echo 'checked'; ?>>
								{$key}.{$v}
							</div>
						<?php endforeach; ?>
					</div>
				</div>
			</div>
		<?php $i++; endforeach; endif; ?>

	</div></div>
</div>
{/block}