{extend name="public/base" /}

{block name="body"}
<div id="core">
	{include file="public/nav" /} 
	<div id="right">
		<div id="rightc">
	
			<div class="bar">
				<div class="barleft">

				</div>
				<div class="search">
					<form class="form-inline" action="">
						<button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
						<div class="form-group">
							<input type="text" class="form-control" name="ss" value="<?php if(isset($ss)) echo $ss; ?>" placeholder="名称">
						</div>
					</form>
				</div>
			</div>
		
			<table class="table">
				<tr class="th">
					<th></th>
					<th>编号</th>
					<th>姓名</th>
					<th>账号</th>


					<th>性别</th>
					<th>电话号码</th>
				</tr>
				<?php $i=1; foreach ($list as $v): ?>
				<tr class="<?php echo $i%2 ?'':'ts'; ?>">
					<td><input type="checkbox" name="choose[]" class="choose" id="choose-{$v.id}" value="{$v.id}"></td>
					<td>{$v.sid}</td>
					<td>{$v.name}</td>
					<td>{$v.account}</td>


					<td><?php echo $v['sex'] ? '男':'女'; ?></td>
					<td>{$v.phone}</td>

				</tr>
				<?php $i++; endforeach; ?>
				<tr class="">
					<th colspan="10" style="text-align: right;"><?php echo $list; ?> </th>
				</tr>
			</table>
		


		</div>
	</div>
	
</div>

<script>
$(function(){
	$('#del').on('click',function(){

		var str = "";
		var role = <?php echo $role; ?>;
	    $("input[name='choose[]']:checked").each(function (index, item) {
	        
	        if ($("input[name='choose[]']:checked").length-1==index) {
	            str += $(this).val();
	        } else {
	            str += $(this).val() + "_";
	        }  
	    });
	    
	    if (str=='') {
	    	alert('您没有选择需要删除的项');
	    }else{
	    	if (confirm('确定要删除被选中的账号吗？')) {
	    		window.location.href = '<?php echo url("index/delaccounts"); ?>?ids='+str+'&role='+role;
	    	}else{
	    		return false;
	    	}
	    }
	})
})
</script>
{/block}