{extend name="public/base" /}

{block name="body"}
<div id="core">
	{include file="public/nav" /} 
	<div id="right"><div id="rightc">
		{include file="public/title" /}

		<form action="{:url('index/editTeacher')}" id="formUpdinfo" method="post">
			<input type="hidden" name="role" value="{$role}}">
			<input type="hidden" name="id" value="{$teacher_info['id']}">

			<div class="row">
				<div class="col-sm-2 iname"> <span class="glyphicon glyphicon-tag"></span> 账号</div>
				<div class="col-sm-8 form-group"><input type="text" name="account" id="account" class="form-control" value="{$teacher_info['account']}" disabled></div>
			</div>
			<hr>
			<div class="row">
				<div class="col-sm-2 iname"> <span class="glyphicon glyphicon-user"></span> 姓名</div>
				<div class="col-sm-8 form-group"><input type="text" name="name" id="name" class="form-control" value="{$teacher_info['name']}" ></div>
			</div>
			<div class="row">
				<div class="col-sm-2 iname"> 班级</div>
				<div class="col-sm-8 form-group">
					<?php foreach($classlist as $v): ?>
					<label class="checkbox-inline">
						<input type="checkbox" name="classID[]" value="<?php echo $v['id']; ?>" <?php if(in_array($v['id'],$teacher_classIds)) echo "checked='checked'"; ?>> <?php echo $v['className']; ?>
					</label>
					<?php endforeach; ?>

				</div>
			</div>
			<hr>


			<div class="row">
				<div class="col-sm-2 iname"> <span class="glyphicon glyphicon-record"></span> 性别</div>
				<div class="col-sm-8 form-group">
					<div class="radio" style="margin-top: 0;">
						<label style="line-height: 30px;">
							<input type="radio" name="sex" value="0" <?php if($teacher_info['sex'] == 0) echo "checked='checked'"; ?>>
							&nbsp; 女
						</label>
						&emsp; 
						<label style="line-height: 30px;">
							<input type="radio" name="sex" value="1" <?php if($teacher_info['sex'] == 1) echo "checked='checked'"; ?>>
							&nbsp; 男
						</label>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-2 iname"> <span class="glyphicon glyphicon-envelope"></span> 邮箱</div>
				<div class="col-sm-8 form-group"><input type="text" name="email" id="email" class="form-control" value="{$teacher_info['name']}"></div>
			</div>
			<div class="row">
				<div class="col-sm-2 iname"> <span class="glyphicon glyphicon-earphone"></span> 电话</div>
				<div class="col-sm-8 form-group"><input type="text" name="phone" id="phone" class="form-control" value="{$teacher_info['phone']}"></div>
			</div>
			<hr>
			<div class="row">
				<div class="col-sm-2 iname"> <span class="glyphicon glyphicon-cutlery"></span> 生日</div>
				<div class="col-sm-8 form-group"><input type="text" name="birthday" id="birthday" class="form-control" value="{$teacher_info['birthday']}"></div>
			</div>
			<div class="row">
				<div class="col-sm-2 iname"> <span class="glyphicon glyphicon-education"></span> 职称</div>
				<div class="col-sm-8 form-group"><input type="text" name="degree" id="degree" class="form-control" value="{$teacher_info['degree']}"></div>
			</div>
			<div class="row">
				<div class="col-sm-2 iname"> <span class="glyphicon glyphicon-home"></span> 主页</div>
				<div class="col-sm-8 form-group"><input type="text" name="homepage" id="homepage" class="form-control" value="{$teacher_info['homepage']}"></div>
			</div>
			<div class="row">
				<div class="col-sm-2 iname"> <span class="glyphicon glyphicon-globe"></span> 地址</div>
				<div class="col-sm-8 form-group"><input type="text" name="address" id="address" class="form-control" value="{$teacher_info['address']}"></div>
			</div>
			<div class="row">
				<div class="col-sm-2 iname"></div>
				<div class="col-sm-8 form-group">
					<button type="submit" class="btn btn-block btn-success">提交</button>
				</div>
			</div>
		</form>
	</div>
	</div>
	
</div>
<script src="__PUBLIC__/static/laydate/laydate.js"></script>
<script>
$(function(){
	laydate.render({ 
	  	elem: '#birthday',
	  	type: 'date'
	});

})
</script>
{/block}