<div class="left">
    {include file="public/public" /}
    <div class="side">
        <ul>
            <li><a href="{:url('navigation/index')}" class="nav"><span class="icon iconfont icon-daohang"></span> 导航</a></li>
            <!-- <li>
                <a class="nav"><span class="icon iconfont icon-elective-sel"></span> 选课<span class="glyphicon glyphicon-triangle-bottom" style="font-size: 5px;text-align: right;float: right;margin-top: 13px"></span></a>
                <ul>
                    <div class="subnav">
                        <li><a href="{:url('course/index')}">- 选课</a></li>
                        <li><a href="{:url('course/getOptionCourseInfo')}">- 查看课程</a></li>
                        <li><a href="{:url('course/schedule')}">- 查看课表</a></li>
                    </div>
                </ul>
            </li> -->
            <li><a href="{:url('experiment/dat')}" class="nav"><span class="icon iconfont icon-shiyan"></span> 实验结果</a></li>
            <li><a href="{:url('experiment/index2')}" class="nav"><span class="icon iconfont icon-shiyan"></span> 虚拟实验</a></li>
            
            <li><a href="{:url('test/index')}" class="nav"><span class="icon iconfont icon-tubiaoku-"></span> 理论测试</a></li>
            <li>
                <a class="nav"><span class="icon iconfont icon-shiyan"></span> 资源库<span class="glyphicon glyphicon-triangle-bottom" style="font-size: 5px;text-align: right;float: right;margin-top: 13px"></span></a>
                <ul>
                    <div class="subnav">
                        <li><a href="{:url('resource/index')}">- 资源库</a></li>
                        <li><a href="{:url('resource/getCollectInfo')}">- 我的资源库</a></li>
                    </div>
                </ul>
            </li>
            <!-- <li>
                <a class="nav"><span class="icon iconfont icon-shebei"></span> 设备借出<span class="glyphicon glyphicon-triangle-bottom" style="font-size: 5px;text-align: right;float: right;margin-top: 13px"></span></a>
                <ul>
                    <div class="subnav">
                        <li><a href="{:url('equipment/index')}">- 设备借出</a></li>
                        <li><a href="{:url('equipment/getlend')}">- 查看借出</a></li>
                    </div>
                </ul>
            </li> -->
            <li>
                <a class="nav"><span class="icon iconfont icon-zhanghu"></span> 个人信息<span class="glyphicon glyphicon-triangle-bottom" style="font-size: 5px;text-align: right;float: right;margin-top: 13px"></span></a>
                <ul>
                    <div class="subnav">
                        <li><a href="{:url('index/getInfo')}">- 个人信息</a></li>
                        <li><a href="{:url('index/updateInfo')}">- 修改基本信息</a></li>
                        <li><a href="{:url('index/index/help')}" target="_blank">- 帮助文档</a></li>
                    </div>
                </ul>
            </li>
        </ul>
    </div>
</div>
