	<meta charset="UTF-8">
    <title>教师端-虚拟仿真实验教学管理平台</title>
    <link href="__PUBLIC__/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="__PUBLIC__/teach/teach.css" rel="stylesheet">
    <link href="__PUBLIC__/icon/iconfont.css" rel="stylesheet">
    <script src="__PUBLIC__/static/js/jquery.min.js"></script>
    <script src="__PUBLIC__/static/js/bootstrap.min.js"></script>
	<script src="__PUBLIC__/static/js/jquery.validate.min.js"></script>
	<script src="__PUBLIC__/teach/t.js"></script>


