{include file="index/header" /}
    <div class="c m2">
        <div class="video" style="margin-left: -600px;">
            <video width="560" height="320" poster="__PUBLIC__/home/video.png" controls>
                <source src="__PUBLIC__/home/1.mp4" type="video/mp4">
                您的浏览器不支持视频，请升级到新版浏览器
            </video>
        </div>
        <div class="desc" style="margin-right: -600px;">
            <h4 style="font-size: 17px; line-height: 24px;">基于大数据和人工智能的企业危机沟通管理虚拟仿真实验仿真平台</h4>
            <div class="descp">所属分类：情商管理与沟通</div>
            <div class="descp">实验学时：4课时 </div>
            <div class="descp">项目负责人：王超 </div>
            <div class="descp" style="color: #F00; font-weight: 600;">推荐使用：Firefox 或 谷歌等主流浏览器 </div>
            <div class="descp">实验简介：由于企业生存与发展内外环境的不断变化，企业难以避免危机事件的发生，如果不能有效的开展危机管理应对，将直接影响企业的生存与发展；危机沟通作为企业危机管理应对的重要一环，良好的危机沟通能有效降低企业危机的冲击，使企业转危为安。培养企业危机沟通的应对能力已成为工商管理、市场营销等管理专业学生必备技能。
            <br>
            专家账号：<span style="color: #F00;"> zhuanjia01 zhuanjia02 zhuanjia03 zhuanjia04 zhuanjia05  </span>
            <br>密码：<span style="color: #F00;">123456</span></div>
            <div style="text-align: right; font-size: 20px; font-weight: 600; margin-top: 10px;">
                <a href="__PUBLIC__/../Web"  target="_blank" style="text-decoration: none; color: #ff6500;">专家入口 >> </a>
                &emsp;&emsp;
                <a href="__PUBLIC__/../Web"  target="_blank" style="text-decoration: none; color: #ff6500;">开始实验 >> </a>
            </div>
        </div>
    </div>

    <div class="c m3">
        <div class="mlist" style="position: relative;">
            <a class="lone" href="{:url('index/index/page?id=4')}" style="background: url(__PUBLIC__/home/c.png) no-repeat;">网络条件要求</a>
            <a class="lone" href="{:url('index/index/page?id=5')}" style="background: url(__PUBLIC__/home/a.png) no-repeat;">项目技术架构</a>
            <a class="lone" href="{:url('index/index/page?id=6')}" style="background: url(__PUBLIC__/home/d.png) no-repeat;">浏览器要求</a>
            <a class="lone" href="{:url('index/index/page?id=7')}" style="background: url(__PUBLIC__/home/b.png) no-repeat;">用户配置要求</a>
            <a href="https://download-ssl.firefox.com.cn/releases-sha2/stub/official/zh-CN/Firefox-latest.exe"  title="点击下载火狐浏览器" onclick="return confirm('确认下载火狐浏览器')" target="_blank">
            	<img src="__PUBLIC__/home/火狐.png" style="height: 36px; display: inline; position: absolute; top: 118px; left: 150px;">
            </a>
            <a href="https://www.google.cn/intl/zh-CN/chrome/" title="点击下载谷歌浏览器" target="_blank">
            	<img src="__PUBLIC__/home/谷歌.png" style="height: 36px; display: inline; position: absolute; top: 118px; left: 300px;">
            </a>
        </div>
        <div class="cailiao">
            <div style="font-size: 100px; font-weight: 600; font-family: '宋体'; color: #cbcbcb;"> “ </div>
            <div style="text-align: center; line-height: 80px; font-size: 24px; margin-top: -120px;">申报材料</div>
            <div style="font-size: 13px; padding: 5px 50px; color:#888; line-height: 20px;">企业危机具有不可复制性和处置紧迫性等特点，传统实验难以再现真实的
企业危机事件现场，针对企业危机沟通能力的培养基本停留在使用文字、图片、
案例讲述的教学方式，学生无法切实体会企业面临危机事件的紧迫感和效果反
馈的及时性，导致学生主动学习的积极性不高，理论知识掌握不深刻，实际动
手能力差。为充分提高学生的学习兴趣和效果，有效掌握企业危机管理沟通的
相关理论和运用能力，本项目综合应用多媒体、三维建模、人机交互、大数据、
人工智能等数字化、智能化技术，虚拟仿真企业危机发生的情境，模拟训练学
生开展企业危机管理沟通组织与应对的全过程，帮助学生掌握企业危机事件评
估方法、危机沟通的组织、公告发布、召开新闻发布会与应对记者提问、危机
面谈的技巧与方法以及危机沟通的事后总结与反思工作，使学生确实具备成功
开展企业危机管理沟通工作的组织与实践能力。 </div>
            <div style="text-align: right; font-size: 20px; font-weight: 500; margin-top: 10px;">
                <a href="__PUBLIC__/home/sbb.pdf" target="_blank" style="text-decoration: none; color: #666;">了解更多 >> </a>
                &emsp;&emsp;
            </div>
            <div style="font-size: 100px; font-weight: 600; font-family: '宋体'; color: #cbcbcb; text-align: right;">”</div>
        </div>
    </div>
    <div style="text-align: center;">
        <a href="/login" style="font-size: 16px; text-decoration: none; line-height: 60px; color: #3370b5;">平台登录</a>
    </div>
    <div class="w bgblack">
        <div class="c footer">
            推荐使用：Firefox 或 谷歌等主流浏览器
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
            建设单位：武汉理工大学
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
            版权支持：武汉全乐科技有限公司
        </div>
    </div>

    <div data-toggle="modal" data-target="#zxdy" style="width: 30px; height: 80px; position: fixed; left: 0; top: 180px; background: #4386ec; color: #FFF; text-align: center; padding: 20px 0; border-radius: 0 10px 10px 0; cursor: pointer;">在<br>线<br>答<br>疑</div>
    <!-- Modal -->
    <div class="modal fade" id="zxdy" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">在线答疑</h4>
          </div>
          <div class="modal-body">
            <textarea name="" id="" cols="30" rows="10" style="width: 98%; height: 300px; margin: 10px auto; display: block;"></textarea>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            <button type="button" class="btn btn-primary" onclick="alert('提交成功！');">提交答疑</button>
          </div>
        </div>
      </div>
    </div>


    <script>
    $(function(){
        $('.m1').animate({
            marginTop: '-130px'
        },500,function(){
            $('.video').animate({
                marginLeft: '0'
            },800,function(){
                $('.desc').animate({
                marginRight: '0'
                },800);
            })
        });
    })
    </script>
</body>
</html>