{include file="index/header" /}
	<div class="c m3">
		<div class="mlist">
			<a class="lone" href="{:url('index/index/page?id=4')}" style="background: url(__PUBLIC__/home/c.png) no-repeat;">网络条件要求</a>
			<a class="lone" href="{:url('index/index/page?id=5')}" style="background: url(__PUBLIC__/home/a.png) no-repeat;">项目技术架构</a>
			<a class="lone" href="{:url('index/index/page?id=6')}" style="background: url(__PUBLIC__/home/d.png) no-repeat;">浏览器要求</a>
			<a class="lone" href="{:url('index/index/page?id=7')}" style="background: url(__PUBLIC__/home/b.png) no-repeat;">用户配置要求</a>
			
		</div>
		<div class="page">

			<div style="text-align: center; line-height: 80px; font-size: 24px; margin-top: 10px;">{$item.title}</div>
			<div style="font-size: 13px; padding: 5px 50px; color:#888; line-height: 20px;">
				



				{$item.content}

			</div>
			
		</div>
	</div>

	<div class="w bgblack">
		<div class="c footer">
			推荐使用：Firefox 或 谷歌等主流浏览器
			&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
			建设单位：武汉理工大学
			&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
			版权支持：武汉全乐科技有限公司
		</div>
	</div>
</body>
</html>